@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding:0;
    box-sizing:border-box;
    text-decoration: none;
}

/* for control all sections max width */
.max-width {
    max-width: 1300px;
    padding:0 80px;
    margin: auto;
}

/* navbar style */
.navbar {
    /* background-color: black; */
    position: fixed;
    width: 100%;
    padding:30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition:all 0.3s ease;
}

/* for DOM js function add or move the class => navbar */
.navbar.sticky{
    padding:15px 0;
    background:black;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    color: white;
    font-size: 35px;
    font-weight: 800;
}
.navbar .logo a span {
    color:#fa4006;
    transition:all 0.3s ease;
}
/* for DOM js function add or move the class => Logo */
/* make sure logo has the same transition value as navbar */
.navbar.sticky .logo a span {
    color: white;
}

/* this is just for fun, when add class sticky, my logo hover color can change as well. */
.navbar.sticky .logo a span:hover{
    color:#06cdfa;
}


.navbar .items li {
    list-style: none;
    display: inline-block;
}

.navbar .items li a {
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin-left: 25px ;
    transition: color 0.3 ease;
    /* can not be 0.5s, looks like a little bit lagge */
}
.navbar .items li a:hover{
    color:#fa4006 ;
}
/* this is just for fun, when add class sticky, items hover color can change as well. */
.navbar.sticky .items li a:hover{
    color:#06cdfa;
}

/* menu btn style */
.menu-btn {
    font-size:23px;
    cursor: pointer;
    display: none;
}

.menu-btn i:hover {
    color:#fa4006 ;
}
/* this is just for fun, when add class sticky, btn hover color can change as well. */
.menu-btn.sticky i:hover{
    color:#06cdfa;
}

/* menu button style */
.menu-btn {
    color:white;
    font-size: 23px;
    cursor: pointer;
}


/* home section style */
.home {
    display: flex;
    background: url("/src/images/home-page-final.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: white;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}

.home .max-width {
    /* margin-top:auto;
    margin-right: 0;
    margin-bottom: auto;
    margin-left: 40px; */
    margin: auto 0 auto 40px;
}

.home .home-content .text-1 {
    font-size: 27px;
}
.home .home-content .text-2 {
    font-size: 75px;
    font-weight: 800;
    margin-left: -3px;
}
.home .home-content .text-3 {
    font-size: 40px;
    margin:5px 0;
}
.home .home-content .text-3 span {
    color:#fa4006;
    font-weight: 500;
}

/* responsive @media start */
@media screen and (max-width:947px){
    /* adjust navbar logo & items vertical 0, horizontal 50px */
    .max-width {
        padding:0 50px;
    }
    /* z-index defines the stack level of the box in the current context, depends the number size */
    .menu-btn {
        display: block;
        z-index: 1;
    }

    /* adjust navbar items only */
    .navbar .items{
        position: fixed;
        height: 100vh;
        width:100% ;
        left:-100%;
        top:0;
        background-color: black;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .items.active{
        left:0;
    }
    .navbar .items li{
        display: block;
    }
    .navbar .items li a{
        display:inline-block;
        margin:15px 0;
        font-size: 20px;
    }
}
